<div id="front_page_search_form" class="row">
  <%= link_to t('blacklight.search.form.front_pages'),
              main_app.search_catalog_path(@presenter.front_page_search_params),
              { class: "btn btn-primary", role: "button" }  %>
</div>
