<!DOCTYPE html>
<html>
<head>
  <title>Newspaper works</title>
  <%= stylesheet_link_tag    "newspaper_works/application", media: "all" %>
  <%= javascript_include_tag "newspaper_works/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
