<div class="form-group facet_item blacklight-<%= facet_field.field.parameterize %>">
  <label class="control-label col-sm-3"><%= facet_field_label(facet_field.field) %></label>
  <div class="col-sm-7 facet_scrollbox_wrapper well">
    <div class="facet_limit_scrollbox col-sm-12">
      <%= yield %>
    </div>
  </div>
</div>
