<div id="front_pages_input">
  <%= t("newspaper_works.newspapers_search.fields.front_pages") %>:
  <%= check_box_tag('f[first_page_bsi][]', true,
                    false, class: 'front_pages_checkbox' ) %>
</div>
