<div id="newspapers_search_help" class="well">
  <h5><%= t('iiif_print.newspapers_search.help.title') %></h5>
  <ul class="newspapers_help">
    <% t('iiif_print.newspapers_search.help.tips').values.each do |tip| %>
      <li><%= tip %></li>
    <% end %>
  </ul>
</div>
