<% provide :page_title, t('iiif_print.newspapers_search.title') %>

<h1><%= t('iiif_print.newspapers_search.title') %></h1>

<div><%= t('iiif_print.newspapers_search.text') %></div>

<div id="newspapers_search_form_wrapper" class="col-sm-8">
  <%= render 'newspapers_search_form' %>
</div>

<div id="newspapers_search_help_wrapper" class="col-sm-4">
  <%= render 'newspapers_search_help' %>
</div>
