.calendar_day {
  display: inline-block;
  width: 17px;
  height: 10px;
  text-align: center;
}

.calendar_day_inactive {
  color: gray;
}

.issues_calendar {
  margin-bottom: 25px;
}

#issues_calendar_title h2 select {
  font-size: 0.6em;
}
