<div class="search-results-title-row">
    <h4 class="search-result-title">
      <%= link_to document.title_or_label,
                  hyrax_newspaper_page_path(document.id,
                                            anchor: iiif_search_anchor(current_search_session.query_params)) %>
    </h4>
</div>
