<div class="col-md-2">
  <div class="list-thumbnail">
    <%= render_newspaper_thumbnail_tag(document,
                                       current_search_session.query_params[:q]) %>
  </div>
</div>