name: "Build Test Lint"
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
    inputs:
      debug_enabled:
        type: boolean
        description: 'Run the build with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate)'
        required: false
        default: false

jobs:
  build:
    uses: scientist-softserv/actions/.github/workflows/build.yaml@iiif-v3plus5
    secrets: inherit
    with:
      platforms: "linux/amd64"
      target: hyku-base
      inputs: 
        db: false
  test:
    needs: build
    uses: scientist-softserv/actions/.github/workflows/test.yaml@iiif-v3plus5
  lint:
    needs: build
    uses: scientist-softserv/actions/.github/workflows/lint.yaml@iiif-v3plus5
